<div class="form-container d-flex justify-content-center align-items-center w-100">
  <div class="form-wrapper">
    <div class="form-signin w-100">
      <div class="form-logo form-logo-img mb-4 mx-auto d-flex justify-content-center">
        <%= image_tag("Logo_white.png") %>
      </div>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="form-group d-flex justify-content-center">
          <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: "form-control" %>
        </div>

        <div class="form-group d-flex justify-content-center">
          <%= f.text_field :username, placeholder: "ユーザーID", class: "form-control" %>
        </div>

        <div class="form-group d-flex justify-content-center">
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <% if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
          <div class="form-group d-flex justify-content-center">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（6文字以上）", class: "form-control" %>
          </div>

          <div class="form-group d-flex justify-content-center">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード", class: "form-control" %>
          </div>
        <% end %>

        <div class="form-actions mt-4">
          <%= f.submit "新規登録", class: "btn btn-primary btn-block" %>
          登録済みの方は<%= link_to "こちら", new_user_session_path %><br>
        </div>

      <% end %>
      <div class="text-center">
        <div class="head-border mt-4">
          もしくは
        </div>
        <div class="login-btn twitter-login">
          <%= link_to ' Twitter', user_twitter_omniauth_authorize_path, method: :post, class: "fab fa-twitter" %>
        </div>
        <div class="login-btn google-login">
          <%= link_to ' Google', user_google_oauth2_omniauth_authorize_path, method: :post, class: "fab fa-google" %>
        </div>
        <div class="login-btn guest-login">
          <%= link_to "ゲストログイン", guest_sign_in_path, method: :post %>
        </div>
      </div>



    </div>
  </div>
</div>
