<div class="border-bottom py-2">
  <div class="form-inline">
    <span>
      <%= link_to user_path(notification.visitor) do %>
        <% if notification.visitor.avatar? %>
          <%= image_tag notification.visitor.avatar.url, class: "rounded-circle", size: "40x40" %>
        <% else %>
          <%= image_tag "no_image_avatar.png", class: "rounded-circle border", size: "40x40" %>
        <% end %>
        <strong><%= notification.visitor.name%></strong>
      <% end %>
      さんが
      <% case notification.action %>
        <% when "follow" then %>
          あなたをフォローしました
        <% when "favorite" then %>
          <%= link_to "あなたの投稿", notification.post, class: "font-weight-bold " %>にいいねしました
        <% when "comment" then %>
          <% if notification.post.user_id == notification.visited.id %>
            <%= link_to "あなたの投稿", notification.post, class: "font-weight-bold" %>
          <% else %>
            <%= link_to post_path(notification.post) do %>
              <strong><%= notification.post.user.name %>さんの投稿</strong>
            <% end %>
          <% end %>
          にコメントしました
          <p class="text-muted mb-0">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
          </p>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
</div>