<% if user.avatar? %>
  <%= image_tag user.avatar.url, class: "rounded-circle", size: "150x150" %>
<% else %>
  <%= image_tag "no_image_avatar.png", class: "rounded-circle border", size: "150x150" %>
<% end %>
<h3 class="text-center"><%= user.name %></h3>
<h5 class="text-center">@<%= user.username %></h5>
<% if user == current_user %>
  <p><%= user.email %></p>
  <% unless(user.name == "guest_user") %>
    <%= link_to "編集", edit_user_path(user), class: "btn btn-success btn-sm" %>
  <% end %>
<% else %>
  <p class="follow-btn"><%= render 'relationships/ajax_follow_btn', user: user %></p>
<% end %>
<div class="d-flex justify-content-center mt-2">
  <div>
    <h5 class="mx-5"><%= link_to "フォロー中", user_followings_path(user.username), class: "text-dark font-weight-bold" %></h5>
    <h5 class="mx-5 followints-count"><%= link_to user.followings.count, user_followings_path(user.username), class: "text-dark font-weight-bold" %></h5>
  </div>
  <div>
    <h5 class="mx-5"><%= link_to "フォロワー", user_followers_path(user.username), class: "text-dark font-weight-bold" %></h5>
    <h5 class="mx-5 followers-count"><%= render 'relationships/followers_link', user: user %></h5>
  </div>
</div>