<% if user.avatar? %>
  <%= image_tag user.avatar.url, class: "rounded-circle", size: "150x150" %>
<% else %>
  <%= image_tag "no_image_avatar.png", class: "rounded-circle border", size: "150x150" %>
<% end %>
<h3 class="text-center"><%= user.name %></h3>
<% if user == current_user %>
  <h5 class="text-center"><%= user.email %></h5>
  <%= link_to "編集", edit_user_path(user), class: "btn btn-success btn-sm" %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
<% else %>
  <p class="follow-btn"><%= render 'relationships/follow_btn', user: user %></p>
<% end %>
<div class="d-flex justify-content-center mt-2">
  <div>
    <h5 class="mx-5"><%= link_to "フォロー中", user_followings_path(user.id), class: "text-dark font-weight-bold" %></h5>
    <h5 class="mx-5"><%= link_to user.followings.count, user_followings_path(user.id), class: "text-dark font-weight-bold" %></h5>
  </div>
  <div>
    <h5 class="mx-5"><%= link_to "フォロワー", user_followers_path(user.id), class: "text-dark font-weight-bold" %></h5>
    <h5 class="mx-5"><%= link_to user.followers.count, user_followers_path(user.id), class: "text-dark font-weight-bold" %></h5>
  </div>
</div>