<div class="form-container w-100 d-flex justify-content-center align-items-center">
  <div class="form-wrapper">
    <div class="form-signin w-100">
      <div class="form-logo mb-4 form-logo-img mx-auto d-flex justify-content-center">
        <%= image_tag("Logo_white.png") %>
      </div>
      <%= render 'layouts/errors', obj: @user %>
      <%= form_with model: @user, local: true do |f| %>

        <div class="form-group mb-0">
          <div class="avatar-form text-center">
            <%= f.label :avatar, class: "avatar-label mb-0" do %>
              <div class="prev-box">
                <% if @user.avatar.present? %>
                  <div class="prev-target">
                    <%= image_tag @user.avatar.url, alt: "preview", class: "prev-avatar rounded-circle border", size: "100x100" %>
                  </div>
                <% else %>
                  <%= image_tag "no_image_avatar.png", class: "no-avatar rounded-circle border", size: "100x100" %>
                <% end %>
              </div>
              <%= f.file_field :avatar, class: "avatar-hidden-field hidden-field" %>
              <p class="text-muted">画像クリックで変更</p>
            <% end %>
          </div>
        </div>

        <div class="form-group d-flex flex-column">
          <%= f.label :name, "ユーザー名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group d-flex flex-column">
          <%= f.label :username, "ユーザーID" %>
          <%= f.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group d-flex flex-column">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "変更を保存", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>