<div class="d-flex nested-fields bg-light py-1 border">
  <div class="add-item-image-btn mx-1">
    <%= f.label :image, class: "item-label prev-itemImg" do %>
      <%= image_tag "no_image_item.jpg", class: "img-fluid rounded border" %>
    <% end %>
    <%= f.file_field :image, class: "hidden-field item-hidden-field" %>
    <p class="text-center font-weight-bold text-muted">画像クリックで変更</p>
  </div>
  <table class="table table-borderless mb-0">
    <tr class="form-group">
      <th class="align-middle">商品名</th>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr class="form-group">
      <th>カテゴリー</th>
      <td><%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください" %></td>
    </tr>
    <tr class="form-group">
      <th class="align-middle">メーカー</th>
      <td><%= f.text_field :manufacturer, class: "form-control" %></td>
      <td><%= link_to_remove_association "#{ icon 'fas', 'trash-alt' }".html_safe, f, class: "item-delete-btn fa-2x text-danger" %></td>
    </tr>
  </table>
</div>
