<div class="nested-fields">
  <div class="form-group">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "カテゴリ" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :manufacturer, "メーカー" %>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="actions">
    <%= link_to_remove_association "#{ icon 'fas', 'trash-alt' }".html_safe, f, class: "item-delete-btn fa-lg" %>
  </div>
</div>