<%= form_with model:@post, local:true do |f| %>
  <div class="sell__block__form">
    <div class="sell__block__form__upload form-group mx-3">
      <%= f.label "画像", class: "h4 mr-2" %><span class="bg-danger text-light rounded px-1 mr-1">必須</span>
      <span>※最大４枚まで</span>
      <div class="d-flex flex-wrap">
        <div class="hidden-content mb-3">
          <%= f.fields_for :post_images do |i| %>
            <%= i.file_field :image, class: "hidden-field" %>
            <input class="hidden-field mt-1" type="file" name="post[post_images_attributes][1][image]" id="post_post_images_attributes_1_image"></input>
            <input class="hidden-field mt-1" type="file" name="post[post_images_attributes][2][image]" id="post_post_images_attributes_2_image"></input>
            <input class="hidden-field mt-1" type="file" name="post[post_images_attributes][3][image]" id="post_post_images_attributes_3_image"></input>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group mx-3 mb-3">
      <%= f.label "本文", class: "h4 mr-2" %><span class="bg-danger text-light rounded px-1">必須</span>
      <%= f.text_area :text, size: "20x10", placeholder: "140字まで投稿できます。",class: "form-control" %>
    </div>


    <div class="form-group mx-3">
      <%= f.label "カテゴリ", class: "h4 mr-2" %><span class="bg-danger text-light rounded px-1">必須</span>
      <div class="radio_button">
        <%= f.radio_button :situation, Post.situations.key(0) %>
        <%= f.label :situation_working, "Working", class: "mr-5" %>
        <%= f.radio_button :situation, Post.situations.key(1) %>
        <%= f.label :situation_gaming, "Gaming" %>
      </div>
    </div>

    <div class="form-group mx-3">
      <%= f.label "タグ", class: "h4 mr-2" %>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','), placeholder: "（例）ゲーム好き,カラフル,logicool", class: "form-control" %>
      <span class="text-secondary">カンマ（,）で区切ることができます</span>
    </div>

    <div class="actions d-flex justify-content-end">
      <%= f.submit "投稿する",class: "btn btn-primary" %>
    </div>
  </div>
<% end %>