<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="text-center mt-5 mb-5">新規投稿を作成</h2>
      <%= render 'layouts/errors', obj: @post %>

      <%= form_with model:@post, local:true do |f| %>
        <div class="form-group mx-3">
          <h4 class="mr-2 d-inline">画像</h4><span class="bg-danger text-light rounded px-1 mr-1">必須</span>
          <span>※最大４枚まで</span>
          <div class="d-flex flex-wrap">
            <div class="prev-content flex-wrap d-flex mt-2"></div>
            <div class="label-content mt-2">
              <div class="h-100 d-flex align-items-center">
                <label class="label-btn btn btn-secondary" for="post_post_images_attributes_0_image" id="label-btn-0">
                  画像を追加
                </label>
              </div>
            </div>
            <div class="hidden-content mb-3">
              <%= f.fields_for :post_images do |i| %>
                <%= i.file_field :image, class: "hidden-field post-hidden-field" %>
                <input class="hidden-field post-hidden-field" type="file" name="post[post_images_attributes][1][image]" id="post_post_images_attributes_1_image"></input>
                <input class="hidden-field post-hidden-field" type="file" name="post[post_images_attributes][2][image]" id="post_post_images_attributes_2_image"></input>
                <input class="hidden-field post-hidden-field" type="file" name="post[post_images_attributes][3][image]" id="post_post_images_attributes_3_image"></input>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group mx-3 mb-3">
          <h4 class="mr-2 d-inline">本文</h4><span class="bg-danger text-light rounded px-1">必須</span>
          <%= f.text_area :text, size: "20x10", placeholder: "200字まで投稿できます。",class: "form-control mt-2" %>
        </div>

        <div class="form-group mx-3">
          <h4 class="mr-2 d-inline">使用用途</h4><span class="bg-danger text-light rounded px-1">必須</span>
          <div class="mt-2">
            <%= f.radio_button :situation, Post.situations.key(0) %>
            <%= f.label :situation_working, "Working", class: "mr-5" %>
            <%= f.radio_button :situation, Post.situations.key(1) %>
            <%= f.label :situation_gaming, "Gaming" %>
          </div>
        </div>

        <div class="form-group mx-3">
          <h4 class="mr-2 d-inline">タグ</h4>
          <%= f.text_field :caption, placeholder: "（例）#ゲーム好き #カラフル #logicool", class: "form-control mt-2" %>
          <p class="text-muted">#をつけるとハッシュタグになります</p>
        </div>

        <div class="form-group item-form mx-3">
          <h4 class="mr-2 d-inline">アイテム</h4><span>※最大10個まで</span>
          <p class="text-muted">アイテムはなくても投稿できます。</p>
          <%= f.fields_for :items, id: "item-field" do |item| %>
            <div class="d-flex">
              <%= render 'item_fields', f: item %>
            </div>
          <% end %>
            <div class="links">
              <%= link_to_add_association "アイテムを追加", f, :items, class: "add-item-btn text-white btn btn-secondary" %>
            </div>
        </div>

        <div class="actions d-flex justify-content-end mb-5">
          <%= f.submit "投稿する",class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
