<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="post-user d-flex w-100 mb-3">
      <div class="user-info d-flex align-items-end">
        <%= link_to user_path(@post.user) do %>
          <% if @post.user.avatar? %>
            <%= image_tag @post.user.avatar.url, class: "rounded-circle", size: "60x60" %>
          <% else %>
            <%= image_tag "no_image_avatar.png", class: "rounded-circle", size: "60x60" %>
          <% end %>
        <% end %>
        <h4 class="m-0 ml-1"><%= @post.user.name %></h4>
      </div>
      <div class="post-option follow-btn ml-auto d-flex align-items-end">
        <% if @post.user == current_user %>
          <%= link_to "", edit_post_path(@post), class: "fas fa-edit fa-2x text-dark mr-3" %>
          <%= link_to "", post_path(@post), method: :delete, class: "far fa-trash-alt fa-2x text-dark", data: { confirm: '投稿を削除しますか？' } %>
        <% else %>
          <%= render 'relationships/follow_btn', user: @post.user %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="images">
        <% @post.images.each do |image| %>
          <%= image_tag image.to_s, size: "220x150" %>
        <% end %>
      </div>
      <div class="post-action d-flex align-items-center">
        <h5 class="favorite-btn mr-3"><%= render 'favorites/favorite_btn', post: @post %></h5>
        <h5 class="bookmark-btn"><%= render 'bookmarks/bookmark_btn', post: @post %></h5>
        <div class="post-detail ml-auto">
          <p class="text-light bg-dark text-center m-0"><%= @post.situation%></p>
          <p><%= @post.created_at.to_s(:date_jp) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-md-0">
      <div class="text-box bg-white p-3">
        <%= simple_format(@post.text) %>
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}", posts_path(tag: tag.name) %>
          <% end %>
        <% end %>
      </div>
      <div class="comment-box bg-white p-3 mt-3">
        <p class="comments-count border-bottom"><%= @post.post_comments.count %>件のコメントがあります。</p>
        <%= render 'post_comments/comment', post: @post, post_comments: @post_comments %>
        <div class="comment-form d-flex flex-column">
          <%= render 'layouts/errors', obj: @post_comment %>
          <%= form_with model: [@post, @post_comment], remote: true do |f| %>
            <%= f.text_area :comment, class: "form-control" %>
            <div class="action d-flex justify-content-end">
              <%= f.submit "送信", class: "btn btn-secondary btn-sm mt-1"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>