<div class="posts-container">
  <h1>投稿詳細</h1>
  <table class="table">
    <thead>
      <tr>
        <td>投稿者名</td>
        <td>状況</td>
        <td>本文</td>
        <td colspan="3"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.user.name %></td>
        <td><%= @post.situation %></td>
        <td><%= @post.text %></td>
        <td>
          <% @post.images.each do |image| %>
             <%= image_tag image.to_s, size: "150x150" %>
          <% end %>
        </td>
        <td><%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %></td>
        <td><%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    </tbody>
  </table>
</div>
