<header>
  <div class="header-top d-flex flex-wrap align-items-center justify-content-center">
    <%= link_to image_tag("Logo_black.png"), "#mv", class: "d-flex mx-auto" %>
  </div>
  <div class="header-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to "About", "#", class: "nav-link px-5" %></li>
      <li><%= link_to "Content", "#", class: "nav-link px-5" %></li>
      <li><%= link_to "How to Use", "#how-to-use", class: "nav-link px-5" %></li>
      <li><%= link_to "Sign up", "#", class: "nav-link px-5" %></li>
      <li><%= link_to "Sign in", "#", class: "nav-link px-5" %></li>
    </ul>
  </div>
</header>
