<header class="row mx-0">
  <div class="header-logo col-2 d-flex justify-content-center">
    <%= link_to image_tag("Logo_black.png"), root_path %>
  </div>
  <div class="col-sm-8">
    <div class="row h-100 align-items-center">
      <div class="home col-md-2 justify-content-end d-flex nav-icon">
        <%= link_to "", posts_path, class: "fas fa-home fa-lg text-light" %>
      </div>
      <div class="col-md-8">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <i class="fas fa-search text-light fa-lg"></i>
          <%= f.text_field :content, placeholder: "Search", class: "search-box col-md-8 search-select" %>
          <%= f.select :model, options_for_select({ "User" => "user", "Hashtag" => "tag" }), class: "col-md-2" %>
          <%= f.submit "検索", class: "fas fa-search" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <ul class="header-nav d-flex p-0 mb-0 w-100 justify-content-around">
      <li class="nav-icon"><%= link_to "", new_post_path, class: "far fa-plus-square fa-lg text-light" %></li>
      <li class="nav-icon"><%= link_to "", root_path, class: "fas fa-bell fa-lg text-light" %></li>
      <li class="nav-icon"><%= link_to "", user_path(current_user), class: "fas fa-user fa-lg text-light" %></li>
    </ul>
  </div>
</header>
<% if current_page?(posts_path) %>
  <div class="d-flex justify-content-center border-bottom bg-white">
    <ul class="container nav d-flex justify-content-center mb-2 mb-sm-0 align-items-center">
      <li class="unsigned-nav"><%= link_to "Working", posts_path(sort_working: true), class: "nav-link px-5 text-dark h4 m-0" %></li>
      <li class="unsigned-nav"><%= link_to "All Posts", posts_path, class: "nav-link px-5 text-dark h3 m-0" %></li>
      <li class="unsigned-nav"><%= link_to "Gaming", posts_path(sort_gaming: true), class: "nav-link px-5 text-dark h4 m-0" %></li>
    </ul>
  </div>
<% end %>
