<header class="row mx-0">
  <div class="header-logo col">
    <%= link_to image_tag("Logo_black.png"), root_path %>
  </div>
  <div class="col-8">
    <div class="row h-100 align-items-center">
      <div class="home col-3 text-center nav-icon">
        <%= link_to "\uf015", root_path, class: "text-light" %>
      </div>
      <div class="text-center search_form col-9">
        <%= form_with local: true do |f| %>
          <%= f.text_field :search, placeholder: "Search", class: "w-100" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <ul class="header-nav d-flex p-0 mb-0 w-100 justify-content-between">
      <li class="nav-icon"><%= link_to "\uf0fe", root_path, class: "nav text-light" %></li>
      <li class="nav-icon"><%= link_to "\uf0f3", root_path, class: "nav text-light" %></li>
      <li class="nav-icon"><%= link_to "\uf007", user_path(current_user), class: "nav text-light" %></li>
    </ul>
  </div>
</header>
